body{
    background-color: #1e1e1e;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-family: Arial;
}

.container{
    background-color: white;

    padding: 30px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

input, button{
    padding: 10px;
}